﻿@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@using Radzen.Blazor
@inherits LayoutComponentBase
@* @inject ThemeService ThemeService *@
@* @inject ExampleService ExampleService *@
@inject NavigationManager UriHelper
@inject IJSRuntime JSRuntime
@inject IHttpContextAccessor httpContextAccessor

<RadzenDialog/>
<RadzenNotification/>
<RadzenTooltip/>
<RadzenContextMenu/>

<RadzenLayout>
    <RadzenHeader>
        <ChildContent>
            <div class="row justify-content-start align-items-center">
                <div class="col-5 d-flex align-items-center">
                    <RadzenSidebarToggle Click="@(args => { sidebarExpanded = !sidebarExpanded; bodyExpanded = !bodyExpanded; })">
                    </RadzenSidebarToggle>
                    <RadzenLabel Text="Новая хата онлайн" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                    </RadzenLabel>
                </div>
            </div>
        </ChildContent>
    </RadzenHeader>
    <RadzenBody @ref="@body0" @bind-Expanded="@bodyExpanded">
        <ChildContent>
            <RadzenContentContainer Name="main">
                <div class="container-fluid example-container">
                    <div class="row">
                        <div class="col-12 pt-4 pb-5 px-3 px-lg-5">
                            @Body
                        </div>
                    </div>
                </div>
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
    <RadzenSidebar @ref="@sidebar0" @bind-Expanded="@sidebarExpanded" class="demos-sidebar" style="display: flex; flex-direction: column">
        <div style="flex: 1; overflow: auto">
            <RadzenPanelMenu Match="NavLinkMatch.Prefix" Click="@PanelMenuClick">
                <RadzenPanelMenuItem Text="Главная" Icon="home">
                    <RadzenPanelMenuItem Text="Закупки" Path="/" Icon="work_outline"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Настройки площадок" Path="TradingFloorInfos" Icon="settings"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Статистика" Path="Statistic" Icon="query_stats"></RadzenPanelMenuItem>
                    <RadzenPanelMenuItem Text="Статус парсера" Path="zakupki-bot" Icon="build_circle"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Тестирование" Icon="construction">
                    <RadzenPanelMenuItem Text="Страница площадок" Path="TestingTradingFloorList" Icon="check_circle"></RadzenPanelMenuItem>
                </RadzenPanelMenuItem>
            </RadzenPanelMenu>
        </div>
    </RadzenSidebar>
</RadzenLayout>

@code {
    RadzenSidebar sidebar0;
    RadzenBody body0;
    bool sidebarExpanded = true;
    bool bodyExpanded = false;

    // IEnumerable<Example> examples;
    protected override void OnInitialized()
    {
    //ThemeService.Initialize(UriHelper);

    //examples = ExampleService.Examples;

        System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("en-US");
    }

    void FilterPanelMenu(ChangeEventArgs args)
    {
        var term = args.Value.ToString();

    // examples = string.IsNullOrEmpty(term) ? ExampleService.Examples : ExampleService.Filter(term);
    }

    void ChangeTheme(object value)
    {
        var url = UriHelper.GetUriWithQueryParameter("theme", $"{value}");

        UriHelper.NavigateTo(url, true);
    }

    async Task PanelMenuClick(MenuItemEventArgs args)
    {
        if (args.Path == "/")
        {
            await JSRuntime.InvokeVoidAsync("document.location.reload");
        }
    }

}