﻿@page "/ind"

@attribute [Authorize]

<h2>Чуточку статистики. <a href="/Statistic">Вот</a></h2>
<h2>Страница с настройками площадок <a href="/TradingFloorInfos">Вот</a></h2>
<h2>Страница с лотами <a href="/lots">тут</a></h2>
<h2>Страница с тестируемыми площадками <a href="/TestingTradingFloorList">тут</a></h2>

@code {

    protected override async Task OnInitializedAsync()
    {

    }
}
