﻿@page "/login"

@inject NavigationManager NavigationManager

@attribute [AllowAnonymous]
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> UserManager;
@inject SignInManager<IdentityUser> SignInManager;

<RadzenCard>
    <div class="row">
        <div class="col-xl-6">
            <RadzenTextBox @bind-value=@Name />
            <br />
            <RadzenPassword @bind-value=@Password Placeholder="Введите пароль..." Style="margin-top:10px;" />
            <br />
            <RadzenButton Click=@(async args => await OnClick("Button with text")) Text="Войти" Style="margin-top: 10px;" />
        </div>
    </div>
</RadzenCard>

@code {
    private string Name { get; set; } = "Admin";
    private string Password { get; set; }

    private async Task OnClick(string value)
    {
        var  appUser = await UserManager.FindByNameAsync(Name);
        
        if (appUser != null)
        {
            var result = await SignInManager.PasswordSignInAsync(appUser, Password, false, false);
            
            if (result.Succeeded)
            {
                NavigationManager.NavigateTo("index");
            }
        }
    }
}
