@page "/"

@using Zakupki.Application
@using System.Threading;
@using System.Threading.Tasks;
@using Microsoft.JSInterop;
@using Zakupki.Domain
@inject ILotsRepository LotsRepository
@inject ITradingFloorInfosRepository TradingFloorInfosRepository
@inject IJSRuntime jsRuntime
@inject NotificationService NotificationService
@inject DialogService DialogService
@using Microsoft.AspNetCore.SignalR.Client
@using Zakupki.Application.Parsers
@using Zakupki.Application.Persistence
@using Zakupki.Domain.TradingFloorInfoAggregate
@inject NavigationManager Navigation
@implements IAsyncDisposable
@implements IDisposable

<div class="row">
    <div class="col-lg-6">
        <RadzenDataList WrapItems="true" AllowPaging="false" Data="@LotsList.OrderBy(l => tradingFloorInfos[l.TradingFloorInfoId].Order)" TItem="Lot">
            <Template Context="lot">
                <RadzenCard Style="width:100%;">
                    <div class="row justify-content-between">
                        <div style="margin-left:5px;" class=""><img src="@tradingFloorInfos[lot.TradingFloorInfoId].PathToImg" alt="Alternate Text" /></div>
                        <div class="col">
                            <div class="d-flex justify-content-start">
                                <div class="">
                                    Опубликовано: @(lot.PublicationDate ?? "пусто")
                                </div>
                                <div class="" style="margin-left: auto;">
                                    <RadzenButton Click=@(async args => await ShowInlineDialog(lot)) Icon="mail_outline" Style="margin:0 10px 20px 10px; width: 40px;" ButtonStyle="ButtonStyle.Info" />
                                </div>
                                @*<div class="" style="">
                                        <RadzenButton Click=@(async args => await WriteTextAsync(lot.Link)) Icon="content_copy" Style="margin:0 10px 20px 10px; width: 40px;" ButtonStyle="ButtonStyle.Info" />
                                    </div>*@
                                <div class="">
                                    <RadzenButton Click=@(async args => await DeleteLot(lot)) Icon="close" Style="margin-bottom: 20px; width: 40px;" />
                                </div>
                            </div>
                            <div class="">
                                <div><b><a href="@lot.Link" target="_blank">@lot.Name</a></b></div>
                                <div>@lot.CompanyName</div>
                                <div>Цена @lot.Price &#8381</div>
                            </div>
                        </div>
                    </div>
                </RadzenCard>
            </Template>
        </RadzenDataList>
    </div>
</div>

<RadzenNotification />

@code {
    Timer Timer { get; set; }

    int count { get; set; }

    Dictionary<long, TradingFloorInfo> tradingFloorInfos;
    
    List<Lot> LotsList { get; set; } = new();
    
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        //Timer = new Timer(new TimerCallback(_ =>
        //{
        //// Note that the following line is necessary because otherwise
        //// Blazor would not recognize the state change and not refresh the UI
        //InvokeAsync(() =>
        //    {
        //        StateHasChanged();
        //    });
        //}), null, 1000, 1000);

        //NewLotsManager.OnLot += UpdateLot;

        //NewLotsManager.Lots = (await LotsRepository.GetAsync(LotStatus.Закрытый)).ToList();
        
        var floors = await TradingFloorInfosRepository.GetAllAsync();

        tradingFloorInfos = floors.ToDictionary(t => t.Id);
        
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/lotsHub"))
            .Build();

        hubConnection.On<IReadOnlyCollection<Lot>>("Lots", (lots) =>
        {
            LotsList.AddRange(lots);
            count += lots.Count;
            InvokeAsync(StateHasChanged);
        });
        
        await hubConnection.StartAsync();

        LotsList.AddRange(await LotsRepository.GetAsync(LotStatus.Новый));
    }

    public void UpdateLot(Lot lot)
    {
        InvokeAsync(() =>
            {
                StateHasChanged();
            });
    }

    public ValueTask WriteTextAsync(string text)
    {
        NotificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Info,
            Summary = "Скопировано",
            Detail = text,
            Duration = 4000
        });
        return jsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", text);
    }

    public async Task DeleteLot(Lot lot)
    {
        // var _lot = DbContext.Lots
        //     .Where(x => x.Id == lot.Id)
        //     .FirstOrDefault();

        //_lot.Status = LotStatus.Закрытый;

        //await DbContext.SaveChangesAsync();

        //ParsersSystem.ActorSystem.ActorSelection("/user/lotPublisher").Tell(new LotPublisher.DeleteLot() { Lot = lot });

        LotsList.Remove(lot);

        await LotsRepository.ClosedAsync(lot.Id);
        
        NotificationService.Notify(new NotificationMessage
        {
            Severity = NotificationSeverity.Warning,
            Summary = "Закрыто",
            Detail = lot.Link,
            Duration = 3000
        });
    }

    public void Dispose()
    {
        //Timer.Dispose();
    }

    public async Task SendMail(Lot lot)
    {
        //await EmailService.SendEmailAsync(lot.CompanyName, lot.Link);
        NotificationService.Notify(
            new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Отправлено", Detail = lot.Link, Duration = 4000 });
    }

    async Task ShowInlineDialog(Lot lot)
    {
        var result = await DialogService.OpenAsync("Отправка письма", ds =>
    @<div>
        <div><strong>Тема письма - </strong>@lot.CompanyName</div>
        <div><strong>Тело письма - </strong>@lot.Link</div>
        <div class="mt-2">
            <div class="col-md-12">
                <RadzenButton Text="Ok" Click="async () => { await SendMail(lot);  ds.Close(true); }" Style="margin-bottom: 10px; width: 150px" />
                <RadzenButton Text="Cancel" Click="() => ds.Close(false)" ButtonStyle="ButtonStyle.Secondary" Style="margin-bottom: 10px; width: 150px" />
            </div>
        </div>
    </div>);
    }
    
    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
