﻿@page "/statistic"

@using Zakupki.Domain.Statistic

@* @inject Zakupki.Application.Statistic.Statistic StatisticStorage *@

<h3>Statistic</h3>
<div>Имя площадки - (количество запросов:количество ответов). Если цифры сильно отличаются, это плохо. Слева и справа цифры должны быть почти одинаковыми</div>

<RadzenDataGrid @ref="ordersGrid" AllowFiltering="false" AllowPaging="false"  AllowSorting="false" Data="@orders" TItem="KeyValuePair<string, RequestResponseStat>">
    <Columns>
        <RadzenDataGridColumn TItem="KeyValuePair<string, RequestResponseStat>" Property="Key" Title="Площадка-запрос" />
        <RadzenDataGridColumn TItem="KeyValuePair<string, RequestResponseStat>" Property="Value.RequestsCount" Title="Кол. запросов" />
        <RadzenDataGridColumn TItem="KeyValuePair<string, RequestResponseStat>" Property="Value.ResponsesCount" Title="Кол. ответов" />
    </Columns>
</RadzenDataGrid>

@code {

RadzenDataGrid<KeyValuePair<string, RequestResponseStat>> ordersGrid;
IList<KeyValuePair<string, RequestResponseStat>> orders;

    protected override void OnInitialized()
    {
        //orders = StatisticStorage.RequestResponseStats.ToList();
    }
}
