﻿@page "/TestingTradingFloorList"
@using Zakupki.Application.Persistence
@using Zakupki.Domain.TradingFloorInfoAggregate

@inject ITradingFloorInfosRepository TradingFloorInfosRepository

<h3>Список площадок доступных для тестирования</h3>

<div class="row">
        @foreach (var trading in tradingFloorInfos)
        {
            <div class="col-12 d-flex justify-content-start">
                <div>
                    <NavLink href="@{"trading-floor/"+trading.Name}" Match="NavLinkMatch.Prefix">
                        @trading.Name
                    </NavLink>
                </div>
            </div>
        }
    </div>

@code {
    IReadOnlyCollection<TradingFloorInfo> tradingFloorInfos = Array.Empty<TradingFloorInfo>();

    protected override async Task OnInitializedAsync()
    {
        tradingFloorInfos = await TradingFloorInfosRepository.GetAllAsync();
        
        await base.OnInitializedAsync();
    }
}
