﻿@page "/TradingFloorInfos"

@using Zakupki.Application.Persistence
@using Zakupki.Domain.TradingFloorInfoAggregate
@using MediatR;
@using Zakupki.Application.Features.TradingFloorInfoSlice.Commands

@inject ITradingFloorInfosRepository TradingFloorInfosRepository
@inject IMediator Mediator

<h3>Настройки парсеров</h3>

<RadzenDataGrid
    @ref="tradingFloorInfosGrid"
    AllowAlternatingRows="false"
    AllowFiltering="false"
    AllowPaging="true"
    PageSize="20"
    AllowSorting="false"
    EditMode="DataGridEditMode.Single"
    Data="@tradingFloorInfos"
    TItem="TradingFloorInfo"
    RowUpdate="@OnUpdateRow"
    RowCreate="@OnCreateRow"
    ColumnWidth="200px">
    
    <Columns>
        <RadzenDataGridColumn TItem="TradingFloorInfo" Property="Id" Title="Id" Width="120px" Frozen="true" Visible="false" />
        <RadzenDataGridColumn TItem="TradingFloorInfo" Property="Name" Title="Площадка" Width="130px">
            <Template Context="tradingFloorInfo">
                @tradingFloorInfo.Name
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="PathToImg" Title="Изображение" Width="150px">
            <Template Context="tradingFloorInfo">
                <RadzenImage 
                    Path="@tradingFloorInfo.PathToImg"
                    style="width: 35px; height: auto;"
                    AlternateText="@tradingFloorInfo.Name"/>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TradingFloorInfo" Property="Status" Title="Статус" Width="150px">
            <EditTemplate Context="tradingFloorInfo">
                <RadzenDropDown 
                    Data="@tradingFloorStatuses"
                    @bind-Value="tradingFloorInfo.Status"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn Property="SecondsBetweenRequest" Title="Задержка парсера">
            <EditTemplate Context="tradingFloorInfo">
                <RadzenNumeric 
                    @bind-Value="tradingFloorInfo.SecondsBetweenRequest"
                    Style="width:100%" InputAttributes="@(new Dictionary<string, object>() { { "aria-label", "Количество секунд" } })"/>
            </EditTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="TradingFloorInfo" Property="Order" Title="Порядок"/>
        
        <RadzenDataGridColumn
            Context="order"
            Filterable="false"
            Sortable="false"
            TextAlign="TextAlign.Right"
            Frozen="true"
            FrozenPosition="FrozenColumnPosition.Right">
            
            <Template Context="tradingFloorInfo">
                <RadzenButton Icon="edit" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@(args => EditRow(tradingFloorInfo))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
            <EditTemplate Context="tradingFloorInfo">
                <RadzenButton Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Size="ButtonSize.Medium" Click="@((args) => SaveRow(tradingFloorInfo))" aria-label="Save">
                </RadzenButton>
                <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@((args) => CancelEdit(tradingFloorInfo))" aria-label="Cancel">
                </RadzenButton>
            </EditTemplate>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


@code {
    private RadzenDataGrid<TradingFloorInfo> tradingFloorInfosGrid;
    private IEnumerable<TradingFloorInfo> tradingFloorInfos;
    
    readonly IEnumerable<TradingFloorStatus> tradingFloorStatuses = Enum
        .GetValues(typeof(TradingFloorStatus)).Cast<TradingFloorStatus>();

    protected override async Task OnInitializedAsync()
    {
        
        await base.OnInitializedAsync();
        
        tradingFloorInfos = await TradingFloorInfosRepository.GetAllAsync();
    }

    async Task EditRow(TradingFloorInfo tradingFloorInfo)
    {
        await tradingFloorInfosGrid.EditRow(tradingFloorInfo);
    }
    
    void OnUpdateRow(TradingFloorInfo tradingFloorInfo)
    {
        // Reset(order);
        //
        // dbContext.Update(order);
        //
        // dbContext.SaveChanges();

        Mediator.Send(new TradingFloorInfoUpdateCommand(tradingFloorInfo));
    }

    async Task SaveRow(TradingFloorInfo tradingFloorInfo)
    {
        await tradingFloorInfosGrid.UpdateRow(tradingFloorInfo);
    }

    void CancelEdit(TradingFloorInfo tradingFloorInfo)
    {
        // ordersGrid.CancelEditRow(order);
        //
        // var orderEntry = dbContext.Entry(order);
        // if (orderEntry.State == EntityState.Modified)
        // {
        //     orderEntry.CurrentValues.SetValues(orderEntry.OriginalValues);
        //     orderEntry.State = EntityState.Unchanged;
        // }
    }
    
    void OnCreateRow(TradingFloorInfo tradingFloorInfo)
    {
        // dbContext.Add(order);
        //
        // dbContext.SaveChanges();
    }
}
