﻿@page "/trading-floor/{Name}"
@using Zakupki.Application.Services
@using Zakupki.Domain
@using System.Linq
@using System.Threading
@using Zakupki.Application.Persistence
@using Zakupki.Application.Services.Parsers
@using Zakupki.Domain.TradingFloorInfoAggregate

@inject IParserFactory ParserFactory
@inject ITradingFloorInfosRepository TradingFloorInfosRepository

<h3>@Name</h3>

<button class="btn btn-primary" @onclick="GetLotsAsync">Нажми для получения заявок на закупки</button>

<RadzenDataList WrapItems="true" AllowPaging="false" Data="@lots" TItem="Lot">
    <Template Context="lot">
        <RadzenCard Style="width:100%;">
            <div class="row justify-content-between">
                @* <div class="col-1"><img src="@tradingFloorInfos[lot.TradingFloorInfoId].PathToImg" alt="Alternate Text" /></div> *@
                <div class="col">
                    <div class="d-flex justify-content-start">
                        <div class="">
                            Дата публикации - @(lot.PublicationDate ?? "пусто")
                        </div>
                        <div class="">
                             id - @(lot.Id)
                        </div>
                        <div class="" style="margin-left: auto;">
                            <RadzenButton Icon="mail_outline" Style="margin-bottom: 20px; width: 40px;" ButtonStyle="ButtonStyle.Info" />
                        </div>
                        <div class="" style="">
                            <RadzenButton Icon="content_copy" Style="margin:0 10px 20px 10px; width: 40px;" ButtonStyle="ButtonStyle.Info" />
                        </div>
                        <div class="">
                            <RadzenButton Icon="close" Style="margin-bottom: 20px; width: 40px;" />
                        </div>
                    </div>
                    <div class="">
                        <div><b><a href="@lot.Link" target="_blank">@lot.Name</a></b></div>
                        <div>@lot.CompanyName</div>
                        <div>Цена @lot.Price &#8381</div>
                    </div>
                </div>
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>

<button class="btn btn-primary" @onclick="GetRawLotsAsync">Нажми для получения сырых заявок на закупки</button>

<RadzenDataList WrapItems="true" AllowPaging="true" Data="@rawLots" TItem="string">
    <Template Context="lot">
        <RadzenCard Style="width:100%;">
            <div class="row justify-content-between">
                @lot
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>

<button class="btn btn-primary" @onclick="GetRawData">Нажми для получения сырого ответа площадки закупок</button>

<div>
    @rawData
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    IParser tradingFloor;
    IReadOnlyCollection<Lot> lots;
    IReadOnlyCollection<string> rawLots;
    string rawData;
    Dictionary<long, TradingFloorInfo> tradingFloorInfos;

    protected override async Task OnInitializedAsync()
    {
        var tradingFloors = await TradingFloorInfosRepository.GetAllAsync();

        var info = tradingFloors
            .First(t => t.Name == Name);

        var parsers = ParserFactory.CreateParser(info, null);

        tradingFloor = parsers.parser;

        tradingFloorInfos = tradingFloors.ToDictionary(t => t.Id);
    }

    private async Task GetLotsAsync(MouseEventArgs e)
    {
        lots = await tradingFloor.ParseLotsAsync("1С", CancellationToken.None);
      }

    private async Task GetRawLotsAsync(MouseEventArgs e)
    {
        rawLots = await tradingFloor.ParseProcessedDataAsync("1С", CancellationToken.None);
    }

    private async Task GetRawData(MouseEventArgs e)
    {
        rawData = await tradingFloor.ParseRawDataAsync("1С", CancellationToken.None);
    }
}
