﻿@page "/zakupki-bot"

@using Zakupki.Application
@using Zakupki.Application.Parsers

@inject ParsersSystem ParsersSystem

@*<h2>Управление состоянием бота</h2>
<div>
    <h3>Сейчас бот в стостоянии - <b>@ParsersSystem.Status</b></h3>
</div>*@

@*<div class="row">
    <div class="col-xl-6">
        @if(ParsersSystem.Status == SystemStatus.Работает)
        {
        <div class="row">
            <div class="col-xl-6">
                <p>Перезагрузить бот</p>
                <RadzenButton Click=@(async args => await ParsersSystem.RestartAsync()) Text="Рестарт" Style="margin-bottom: 20px; width: 150px" />
            </div>
        </div>
        }

        @if(ParsersSystem.Status == SystemStatus.Работает)
        {
        <div class="row">
            <div class="col-xl-6">
                <p>Отключить бот</p>
                <RadzenButton Click=@(async args => await ParsersSystem.StopAsync()) Text="Стоп" Style="margin-bottom: 20px; width: 150px" />
            </div>
        </div>
        }

        @if(ParsersSystem.Status == SystemStatus.НеРаботает)
        {
        <div class="row">
            <div class="col-xl-6">
                <p>Включить бот</p>
                <RadzenButton Click=@(async args => await ParsersSystem.StartAsync()) Text="Запустить" Style="margin-bottom: 20px; width: 150px" />
            </div>
        </div>
        }
    </div>
</div>

@code {

}*@
